# Python
venv/
__pycache__/
*.pyc

# Node.js
classnotesapp/node_modules/
classnotesapp/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Build artifacts
build/
dist/
